# -*- coding: utf-8 -*-
from __future__ import unicode_literals

import re
from flask import request, views, render_template
from aboutme.blueprints import blueprint_www


from aboutme.models import ChannelModel, ArticleModel, SlideModel, NaviModel


class IndexView(views.MethodView):
    '''
        首页
    '''

    def get(self):
        channels = ChannelModel.query.all()
        slides = SlideModel.query.order_by(SlideModel.order).all()
        navi = NaviModel.query.get(1)
        return render_template('www/index.html', channels=channels, slides=slides, navi=navi)


blueprint_www.add_url_rule('/', view_func=IndexView.as_view(b'index'),
                                endpoint='index', methods=['GET'])