# -*- coding: utf-8 -*-
from __future__ import unicode_literals

import re
from flask import request, views, render_template
from {{appname}}.blueprints import blueprint_www


from {{appname}}.models import ChannelModel, ArticleModel


class IndexView(views.MethodView):
    '''
        首页
    '''

    def get(self):
        channels = ChannelModel.query.all()
        return render_template('www/index.html', channels=channels)


blueprint_www.add_url_rule('/', view_func=IndexView.as_view(b'index'),
                                endpoint='index', methods=['GET'])
