# -*- coding: utf-8 -*-
from __future__ import unicode_literals


DEBUG = True
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ appname }}:{{ db_pass }}@localhost/{{ appname }}'

#SERVER_NAME = 'www.{{ appname }}.com:18000'

UWSGI_SOCKET = '0.0.0.0:17005'
UWSGI_MODULE  = '{{ appname }}:app'
