<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}七三工作室</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="{{ versioning('styles/vendor.css') }}">
    <link rel="stylesheet" href="{{ versioning('styles/main.css') }}">
    <script src="{{ versioning('scripts/vendor.js') }}"></script>
    <script src="{{ versioning('scripts/vendor/modernizr.js') }}"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">七三工作室</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for channel in channels %}
                <li><a href="{{ channel.url }}">{{ channel.name }}</a></li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
      </div>
</nav>
<div class="container"></div>
    {% block body %}
    {% endblock %}
</div>
    <script src="{{ versioning('scripts/plugins.js') }}"></script>
    <script src="{{ versioning('scripts/main.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>
